In [1]:
#Librerias básicas
#================================================================================
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os
import duckdb
import glob

# Configuración para las series
# ================================================================================
from statsmodels.graphics.tsaplots import plot_acf
from statsmodels.tsa.stattools import acf
from statsmodels.graphics.tsaplots import plot_pacf
from statsmodels.tsa.stattools import pacf
import statsmodels.api as sm

# Configuración para machine learning
# ================================================================================
import tensorflow as tf
import tensorflow.keras as keras
from pandas.core.frame import DataFrame
from sklearn.datasets import load_boston
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import train_test_split
from sklearn.model_selection import RepeatedKFold
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import ParameterGrid
from sklearn.inspection import permutation_importance
from sklearn.model_selection import train_test_split
import multiprocessing

# Activar SQL en Python
# ================================================================================
con = duckdb.connect(database=':memory:')

2023-11-09 23:35:49.983177: I external/local_tsl/tsl/cuda/cudart_stub.cc:31] Could not find cuda drivers on your machine, GPU will not be used.
2023-11-09 23:35:50.527898: E external/local_xla/xla/stream_executor/cuda/cuda_dnn.cc:9241] Unable to register cuDNN factory: Attempting to register factory for plugin cuDNN when one has already been registered
2023-11-09 23:35:50.528002: E external/local_xla/xla/stream_executor/cuda/cuda_fft.cc:607] Unable to register cuFFT factory: Attempting to register factory for plugin cuFFT when one has already been registered
2023-11-09 23:35:50.636146: E external/local_xla/xla/stream_executor/cuda/cuda_blas.cc:1516] Unable to register cuBLAS factory: Attempting to register factory for plugin cuBLAS when one has already been registered
2023-11-09 23:35:50.802307: I external/local_tsl/tsl/cuda/cudart_stub.cc:31] Could not find cuda drivers on your machine, GPU will not be used.
2023-11-09 23:35:50.804693: I tensorflow/core/platform/cpu_feature_guard.cc:182] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.
2023-11-09 23:35:52.952725: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Could not find TensorRT

In [2]:
#Url Ari 
url_lcc    = "C:/Users/ASUS/OneDrive/Documentos/2023-2/Inteligencia/Proyecto/Exoplanet_IA/Curvas_de_luz_cor/"
url_lc_img = "C:/Users/ASUS/OneDrive/Documentos/2023-2/Inteligencia/Proyecto/Exoplanet_IA/Curvas_de_luz_img/"
url        = "C:/Users/ASUS/OneDrive/Documentos/2023-2/Inteligencia/Proyecto/Exoplanet_IA/"

In [4]:
#Urls Pater
url_lcc    = "/home/pater/Desktop/CosasPater/UNAL/2023-02NovenoSemestre/Exoplanet-detection-with-Neural-Network/Curvas_de_luz_cor/"
url_lc_img = "/home/pater/Desktop/CosasPater/UNAL/2023-02NovenoSemestre/ClassificationExoplanets/Curvas_de_luz_img/" 
url        = "/home/pater/Desktop/CosasPater/UNAL/2023-02NovenoSemestre/Exoplanet-detection-with-Neural-Network/"

## Creación de las imagenes

In [5]:
Carac_Stars = pd.read_csv(url+"Carac_Stars.csv")
Carac_Stars

      Kepler_ID  Metalicidad   Clasificacion  incert_clas
0      10797460        0.136       CANDIDATE        1.000
1      10811496       -0.127  FALSE POSITIVE        0.000
2      10848459       -0.522  FALSE POSITIVE        0.000
3      10854555        0.081       CANDIDATE        1.000
4      10872983       -0.067       CANDIDATE        0.992
...         ...          ...             ...          ...
7677   10128825       -0.046       CANDIDATE        0.497
7678   10147276       -0.038  FALSE POSITIVE        0.021
7679   10156110        0.082  FALSE POSITIVE        0.000
7680    8460634       -0.556  FALSE POSITIVE        0.000
7681    8308347       -0.598  FALSE POSITIVE        0.000

[7682 rows x 4 columns]

In [6]:
arch = os.listdir(url_lcc) 
arch.sort()
Stars_list = [star[3:-4] for star in arch]

s_flux  = []
s_err   = []
Id_real = []
for Str in arch:
    serie = pd.read_csv(url_lcc+Str).set_index('time')
    s_flux.append(np.array(serie['flux']))
    s_err.append(np.array(serie['flux_err']))
    Id_real.append(Str[3:-4])

In [7]:
Stars = pd.DataFrame()
Stars["ID"] = Id_real
Stars

            ID
0     10000162
1     10000941
2     10001368
3     10002049
4     10002266
...        ...
7677   9993683
7678   9994381
7679   9995402
7680   9995771
7681   9996632

[7682 rows x 1 columns]

In [8]:
Clas_Stars = con.execute("""select S.ID, case when C.Clasificacion == 'CANDIDATE' then 1 
                                              else 0             
                                         end as ClasBin
                            from Carac_Stars C inner join Stars S on (S.ID = C.Kepler_ID)
                            order by S.ID""").df()
Clas_Stars

            ID  ClasBin
0     10000162        1
1     10000941        1
2     10001368        1
3     10002049        1
4     10002266        0
...        ...      ...
7677   9993683        1
7678   9994381        1
7679   9995402        1
7680   9995771        1
7681   9996632        0

[7682 rows x 2 columns]

In [9]:
#Obtención de las imagenes ya existentes en la carpeta
contenido = os.listdir(url_lc_img)
L_Str = []
for Str in contenido:
    Str = Str[4:-4]
    L_Str.append(Str)

In [10]:
#Se descargan las curvas de luz no existentes
KEPID = list(Stars['ID'])
i = 0
for name in KEPID:
    if name in L_Str:
        i += 1
        continue
    else:
        j = KEPID.index(name)
        name = int(name)
        plt.figure(figsize=(16,4))
        plt.plot(s_flux[j],color="#000000")
        plt.axis('off')
        plt.savefig(f"{url_lc_img}Img_{name}")
        continue

In [11]:
i

7682